@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", monospace;
    background: linear-gradient(to right, #70c1ff, #007bff);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

#logo {
    width: 300px;
    height: auto;
}

.container {
    width: 850px;
    padding: 40px 0; 
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px); 
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.icone-principal {
    width: 80px;
    height: 80px;
    margin-top: 0; 
    margin-bottom: 20px;
}

p {
    color: white;
    font-size: 18px;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

a:hover {
    text-decoration: underline;
}

.progressao {
    width: 60%;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 30px 0; 
    border-radius: 5px;
    overflow: hidden;
}

.atual {
    width: 20%;
    height: 100%;
    background: linear-gradient(to right, #57C84D, #8deb6b);
}

.formulario {
    display: flex;
    width: 400px;
    flex-direction: column;
}

.formulario label {
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
}

.formulario input {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px; 
    padding: 0 10px;
}

.navegacao {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.circulo-botao_esquerdo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #57C84D, #8deb6b);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.circulo-botao_direito {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right, #57C84D, #8deb6b);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s;
}

.circulo-botao_esquerdo:hover {
    transform: scale(1.1);
}

.circulo-botao_direito:hover {
    transform: scale(1.1);
}

.circulo-botao_esquerdo img {
    width: 50%;
    height: auto;
}

.circulo-botao_direito img {
    width: 50%;
    height: auto;
}

.navegacao .circulo-botao_direito img {
    transform: rotate(180deg);
}