*{
    margin: 0;
    border: 0;
    box-sizing: 0;
}

html{
    height: auto;
}

section{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#missao {
    background-image: url(../assets/img/MissaoVisaoValores/fundo1.jpg);

}

#visao {
    background-image: url(../assets/img/MissaoVisaoValores/fundo2.png);

}


#valores {
    background-image: url(../assets/img/MissaoVisaoValores/fundo3.jpg);

}

.texto{
    width: 80%;
    height: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto p{
    width: 90%;
    position: absolute;
    z-index: 5;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    box-sizing: content-box;
    padding: 10px 20px;
}

.caixa_de_texto{
    width: 100%;
    height: 100%;
    filter:blur(8px);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px); 
    background-color: rgba(104, 108, 112, 0.507);
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 3vw;
    text-align: center;
    color: rgb(218, 60, 233);
    font-weight: bold;
    flex-direction: row;
    margin-bottom: 100px;
}