
/*  Arquivo de estilização da barra de navegação
    Certifique-se de usar #barraNavegacao no começo de cada estilização nova
    Para que quando for importar este css, este arquivo não altere outra tag que nao deveria

*/
#barraNavegacao{
    margin-top: 16px;
    width: 90%;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 100px;
    padding: 8px 12px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    transition: .25s ease-in-out;
    z-index: 1000;
}

#barraNavegacao.scrolled{
    width: 100%;
    left: 50%;
    margin-top: 0;
    transform: translateX(-50%);
    border-radius: 0;
    transition: .25s ease-in;
}

#barraNavegacao #logo{
    width: 13vw;
}

#barraNavegacao a{
    text-decoration: none;
    font-size: 1.25vw;
    
}

#barraNavegacao #loginBtn{
    background-color: blue;
    padding: 12px 4vw;
    color: white;
    border-radius: 100px;
    
}