* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #65c7ff;
  color: #333;
}
.faq {
  position: relative;
  text-align: center;
  padding: 60px;
  top: -900px;
}

.faq h2 {
  font-size: 2rem;
  color: #1e3a8a;
}

.faq-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin:  auto;
  position: relative;
  z-index: 1;
}

.faq-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: left;

  transition: 0.3s;
}

.faq-item:hover {
  background: #f1f5ff;
}

.faq-item h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #1e3a8a;
}

.faq-item p {
  font-size: 0.95rem;
  line-height: 1.4;
}

.faq-item.ativo {
  border-left: 5px solid #05ab50;
  background: #e7f5f0;
}

.faq-img {
  position: absolute;
  top: 50px;
  width: 400px;
  z-index: 0;
}
/* container principal */
.imgs {
  position: relative;
  width: 100%;
  min-height: 900px;
  overflow: visible;
  z-index: 0; /* contexto para as imagens ficarem atrás */
}

/* bloco base das imagens */
.img {
  position: absolute;
  display: block;
  will-change: transform;
  z-index: -1; /* garante que fique sempre atrás do conteúdo */
}

/* ajusta a imagem dentro do bloco */
.img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

/* -------------------------
   IMAGEM ESQUERDA (top-left)
   ------------------------- */
.img.esquerda {
  left: 59px;
  top: 100px;
  height: 420px;
  border-radius: 48px 48px 0 48px;
}

/* -------------------------
   IMAGEM DIREITA (mid-right, mais baixa)
   ------------------------- */
.img.direita {
  right: 54px;
  top: 400px;
  width: 380px;
  height: 420px;
}

/* -------------------------
   IMAGEM DE BAIXO (aparece cortada)
   ------------------------- */
.img.baixo {
  left: 40px;
  top: 750px;
  width: 420px;
  height: 360px;
}


/* ---------------- Contato ---------------- */
.contato {
  position: relative;
  background: rgba(223, 249, 254, 0.8);
  margin: 60px auto;
  padding: 40px 20px;
  border-radius: 20px;
  max-width: 800px;
  text-align: center;
  top: -950px;
}

.contato h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #1e3a8a;
}

.contato p {
  margin-bottom: 20px;
}

.contato form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contato input,
.contato textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ecf3f0;
  font-size: 1rem;
}

textarea {
  min-height: 120px;
  resize: none;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-enviar {
  background: #1e3a8a;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

}

