@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    background: linear-gradient(to right, #70c1ff, #007bff);
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 20px; 
    gap: 30px; 
}

#logo {
    width: 100%; 
    max-width: 300px; 
    height: auto;
}

.container {
    background: white;
    width: 100%; 
    max-width: 850px; 
    height: 500px;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(255, 255, 255, 0.5);
    flex-direction: row-reverse; 
}

.formulario {
    background: linear-gradient(to right, #70c1ff, #007bff);
    flex: 1;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow-y: auto; 
}

a {
    display: contents;
}

.botoes {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.botoes button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
    background-color: #d0e0f0;
    color: #333;
}

.botoes button.selecionado {
    background-color: #4cd137;
    color: white;
}

.botoes button.selecionado:hover {
    background-color: #44bd32;
}

.deselecionado:hover {
    background-color: #8ea8c2;
}

.formulario h1 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.formulario p {
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 25px;
}

.formulario form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario input {
    padding: 12px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline:none;
}

.lembrar_esquecer {
    display: flex;
    margin-left: 5px;
    color: white;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lembrar_esquecer a {
    font-size: 12px;
    text-decoration: none;
    color: white; 
}

.lembrar_esquecer a:hover {
    text-decoration: underline;
}

.botao_principal {
    padding: 12px;
    background-color: #4cd137;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.botao_principal:hover {
    background-color: #44bd32;
}

.registrase {
    text-align: center;
    margin: 15px 0 10px;
}
.registrase p {
    font-size: 13px;
    text-align: center;
    margin-bottom: 0;
}

.registrase a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    font-weight: 1000;
}

.registrase a:hover {
    text-decoration: underline;
}

.imagem {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



@media (max-width: 900px) {
    
    body {
        gap: 20px; 
    }

    .container {
        
        flex-direction: column; 
        height: auto; 
        max-height: 90vh; 
    }

    .imagem {
        display: none; 
    }
    
    .formulario {
        padding: 30px 25px; 
    }

    #logo {
        max-width: 200px; 
    }
}